[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/willf/Desktop/steam.desktop]
row=7
col=0

[/home/willf/Desktop/Kerbal Space Program.desktop]
row=6
col=0

[E14F-04AF]
row=2
col=0

[A082D93E82D91A1C]
row=1
col=0

[243dbb5f-cbdf-440a-9864-fa5a876c1b59]
row=0
col=0

[Trash]
row=3
col=0

[/]
row=4
col=0

[/home/willf]
row=5
col=0

